@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Register as a new Stylist:</h4>
@using (Html.BeginForm())
{
    <p>First Name: @Html.TextBoxFor(model => model.FirstName)</p>
    <p>Last Name: @Html.TextBoxFor(model => model.LastName)</p>
    <p>Specialty: @Html.TextBoxFor(model => model.Specialty)</p>
    <input type="submit" class="btn btn-outline-info" value="Add new Stylist"/>
}
<br>
<input type="button" class="btn btn-outline-info" value="Show all Stylists" onclick="location.href='@Url.Action("Index", "Stylists")'" />