body { 
  cursor: default; 
  background-image: url("../img/background.jpg");
  background-size: fill;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.section {
  padding: 0 100px;
  height: 100vh;
  display: flex;
}
.box {
  position: relative;
  max-width: 600px;
  padding: 50px;
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
a {
  font-weight: 900;
  font-family: Helvetica;
  color: rgb(114, 30, 210);
}
